body{
  background-color: rgb(228, 224, 224);
  background-size: cover;
  text-align: center;
}
#akan{
  background-image: url(../image/black.jpeg);
  background-size: cover;
}
p{
  color: goldenrod;
  font-size: large;
  font-family: fantasy;
  font-weight: bolder;
}
h1{
  color: goldenrod;
}